/* Footer styling */
body{
    font-family: "Archivo Black", sans-serif;
}
.footer {
    background-color: #1c1c1c;
    color: #fff;
    padding: 3vh 0;
    text-align: center;
    width: 100vw;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.footer-logo img{
    width:auto;
    height: 3vw;
    margin-bottom: 2vh;
}

.footer-nav {
    margin-bottom: 2vh;
}

.footer-nav a {
    color: #a6a6a6;
    font-size: 1.5vh;
    text-decoration: none;
    margin: 0 1.5vw;
}

.footer-nav a:hover {
    color: #fff;
}

.footer-social {
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    gap: 2vw; /* Adjust spacing between icons */
}

.footer-social a {
    color: #a6a6a6;
    font-size: 2vh;
    width: 5vh;  /* Circle diameter */
    height: 5vh; /* Circle diameter */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 0.2vh solid #a6a6a6; /* Circle border */
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer-social a:hover {
    color: #fff;
    border-color: #fff; /* Change border color on hover */
}

.footer-copy p {
    font-size: 1.5vh;
    color: #a6a6a6;
}

.footer-copy p i {
    color: #ff4f4f;
}
