.body {
    /* background-color: #f0f0f0; */
    background-image: url("./resource/DarkBackground.png");
    color: #282828;
    margin: 0px;

    display: grid;
    grid-template-columns: repeat(18, minmax(0,0.1fr));
    grid-template-rows: repeat(30, minmax(0,0.04fr));
}

/* GameNonStop Title */
.body h1{
    grid-column: 3/8;
    text-align: center;
    color:#f8f8f8;
}

/* 3D carousel coming soon text*/
.body h4{
    /* grid-column: 3/8; */
    text-align: center;
    color:#f8f8f8;
}

.navbar {
    grid-column: 3/19;
    grid-row: 1/1;
    
    background-color: #ff0008;
    color: #282828;
    margin: 0px;
    border: 10px;
    border-radius: 0px;
    padding: 10px;
}

.frame {
    grid-column: 3/19;
    grid-row: 3/31;

    /* background-color: #ecb5b7; */
    color: #282828;
    margin: 20px;
    border: 10px;
    border-radius: 20px;
    padding: 10px;
}

.box {
    color: #282828;
    margin: 30px;
    border: 10px;
    border-style: color #E81C24;
    border-radius: 15px;
    padding: 20px;
    /* background-color: #f0f0f0; */
    background-image: url("./resource/LightBackground.png");

    display: grid;
    grid-template-rows: repeat(10, minmax(0,0.1fr));
    grid-template-columns: repeat(30, minmax(0,1fr));
}

.image{
    /* grid-row = height, grid-column = width */
    grid-row: 1/11;
    grid-column: 1/7;
}

.image img{
    margin:10px;
    width: 200px; 
    height: 300px;
    object-fit: cover;
}

.Title{
    grid-row: 1/3;
    grid-column: 7/31;
}

.Title a{
    grid-row: 2/4;
    grid-column: 10/31;

    margin:10px;
    border: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #ecb5b7;

    text-align: left;
    vertical-align: text-top;

}

.Description {
    margin:10px;

    grid-row: 3/11;
    grid-column: 8/22;
}

.Price {
    margin:10px;

    grid-row: 1/3;
    grid-column: 22/27;
}

.Price h3{
    align-self: middle;
    vertical-align: middle;
}

.AddToWishlistButton {
    grid-row: 9/10;
    grid-column: 27/31;
    align-self: start;
}

.AddToWishlistButton button{
    width: 139px;
    height: 47.2px;

    margin: 10px;
    border: 10px;
    padding: 5px;
    border-radius: 10px;
    background-color:#2606de;
    color: #f0f0f0;
    font-size: 15px;
}

.AddToCartButton {
    grid-row: 1/3;
    grid-column: 27/31;
    align-self: start;
}

.AddToCartButton button{
    width: 139px;
    height: 47.2px;

    margin: 10px;
    border: 10px;
    padding: 5px;
    /* border-radius: 10px; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color:#E81C24;
    color: #f0f0f0;
    font-size: 15px;
}

.fa {
    grid-row: 1/3;
    grid-column: 28/31;
    align-self: start;
}

.fa button{
    width: 100px;
    height: 47.2px;

    margin: 10px;
    border: 10px;
    padding: 5px;
    
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color:#E81C24;
    color: #f0f0f0;
    font-size: 15px;
}