@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  .App {
    height: 100vh;
    margin: 0 auto;
    padding-left: 11rem;
    padding-right: 11rem;
    padding-top: 1.75rem;
  }

  h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
  }


  /* I suck at rwa will adjust later*/
  /* @media only screen and (max-width: 767px) {
    .App {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  } */
}

.button {
  @apply text-white text-base font-semibold rounded-md h-12
}