*{
    font-family: "Poppins", sans-serif;
}

body{ 
    /* fallback path for testing purposes */
    background: url("../../../images/login-images/login-background.jpg"), url("images/login-background.jpg") ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 20px;
}

.form-container{
    display: flex;
    width: 120vh;
    height: 72vh;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    webkit-backdrop-filter: blur(20px);
    overflow: hidden;
}

.col-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 55%;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(40px);
    border-radius: 0 10% 30% 0;
    transition: border-radius .3s;
}

.image-layer{
    position: relative;
}

.form-image-main{
    width: 65vh;
}

.form-image{
    position: absolute;
    left: 0;
    width: 65vh;
    z-index: -1;
}


.featured-words{
    text-align: center;
    color: white;
    width: 40vh;
}

.featured-words span{
    font-weight: 600;
    color:black;
}


.col-2{
    position: relative;
    width: 45%;
    padding: 3vh;
    overflow: hidden;
}

.btn-box{
    display: flex;
    justify-content: center;
    gap: 2vh;
    margin-top: 3vh;
}

.btn{
    font-weight: 500;
    padding: 5px 30px;
    border: none;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: .2s;
}

.btn-1{
    background: #ff3131;
}

.btn:hover{
    opacity: 0.85;
    transform: scale(0.9);
}

.loginBtn-clicked{
    background-color: "#ff3131";
    left: 10%;
    opacity: 1;

}

.loginBtn-notClicked{
    background-color: rgba(255, 255, 255, 0.2);
    left: 150%;
    opacity: 0;
}

.registerBtn-notClicked{
    background-color: rgba(255, 255, 255, 0.2);
    left: -50%;
    opacity: 0;
}

.registerBtn-clicked{
    background-color: #ff3131;
    left: 60%;
    opacity: 1;
}

.login-form{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: .3s;
}

.register-form{
    position: absolute;
    left: -50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: .3s;
}

.register-form .form-title{
    margin-block: 40px 10px;
}
.form-title{
    margin: 5.3vh 0;
    color: white;
    font-size: 3.7vh;
    font-weight: 600;
}

.form-inputs{
    width: 100%;
}

.input-box{
    position: relative;
}

.input-field{
    width: 42vh;
    height: 7.3vh;
    padding: 0 15px;
    margin: 1.3vh 0;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius:10px ;
    outline: none;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

::placeholder{
    color: white;
    font-size: 15px;
}

.title{
    margin-right: 4vw;
}

.input-box .icon{
    position: absolute;
    top: 50%;
    right: 12vh;
    transform: translateY(-50%);
    color: white;
}

.input-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    width: 42vh;
    height: 7.3vh;
    padding: 0 15px;
    margin: 2vh;
    color: white;
    background: #ff3131;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: .3s;
}

.input-submit:hover{
    transform: scale(0.9);
    gap: 1vh;
}

.social-login{
    display: flex;
    gap: 20px;
    margin-top: 2.5vh;
    margin-right: 4vw;
}

.social-login i{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: .2s;
}

.social-login i:hover{
    transform: scale(0.9);
}

/* Responsive */
@media (max-width: 892px){
    .form-container{
        width: 400px;
    }

    .col-1{
        display: none;
    }

    .col-2{
        width: 100%;
    }
}

/* Animation */
.pcguy{
    animation: left-right 3s ease-in-out alternate infinite;
}

.controller{
    animation: scale-up 3s ease-in-out alternate infinite;
}

.symbol{
    animation: up-down 3s ease-in-out alternate infinite;
}

@keyframes left-right{
    to{
        transform: translateX(10px);
    }
}

@keyframes up-down{
    to{
        transform: translateY(10px);
    }
}

@keyframes scale-up{
    to{
        transform: scale(1.1);
    }
}