*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Archivo Black", sans-serif;
    scroll-behavior: smooth;
    
}

.autoShow{
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);
}
@keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
body{
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #E81C24;
}



.home{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 10vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    background-image: url(./images/red-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.home-text h1{
    font-size: 6vh;
    color: white;
    margin-bottom: 2vh;
}
.home-text p{
    color: white;
    font-size: 2vh;
    line-height: 1.7;
    margin-bottom: 3vh;
    text-align: justify;
}


.home-img img{
    width: 45vw;
    height: auto;
    transform: translateX();
    transition: 0.7s;
    
}



.discover-button {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 2vh;
    transition: all 0.5s ease;
  }
  
.discover-button:hover {
    letter-spacing: 3px;
    background-color: #E81C24;
    color: hsl(0, 0%, 100%);
    box-shadow: #E81C24 0px 7px 29px 0px;
  }
  
.discover-button:active {
    letter-spacing: 3px;
    background-color: #E81C24;
    color: hsl(0, 0%, 100%);
    box-shadow: #E81C24 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }
  

.play-button {
    padding: 15px 25px;
    width: 8vw;
    border: unset;
    border-radius: 20px;
    color: #212121;
    z-index: 1;
    background: #fff;
    position: relative;
    font-weight: 1000;
    font-size: 2vh;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
.play-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
.play-button:hover {
    color: #e8e8e8;
   }
   
.play-button:hover::before {
    width: 100%;
   }
/******************************************/

.section2{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 9vh;
    padding-bottom: 15vh;
}

.cards-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.section2 h1{
    font-size: 6vh;
    color: white;
    margin-bottom: 4vh;

}
.cards{
    position: relative;
    width: 20vw;
    height: 50vh;
}

.cards .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5%;
    overflow: hidden;
    transition: .5s;
}

.cards .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.cards .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards .front h3{
    position: absolute;
    bottom: 2vh;
    width: 100%;
    line-height: 3.5vh;
    color: white;
    padding-left: 1vw;
    font-size: 4vh;
}

.cards .back{
    transform: perspective(600px) rotateY(180deg);
    background: white;
    padding: 2vw;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards .back h3{
    font-size: 4vh;
}

.cards .back p{
    font-size: 1.75vh;
}

.card-button {
    --color: #E81C24;
    font-family: inherit;
    display: inline-block;
    width: 15vw;
    height: 7.5vh;
    margin-left: 0.5vw;
    line-height: 2.5em;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 0.15vw solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 2.5vh;
    border-radius: 2vh;
    font-weight: 500;
    color: var(--color);
    background: transparent;
}
  
.card-button i{
    padding-right: 0.3vw;
}

.card-button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 15vh;
    width: 20vw;
    border-radius: 50%;
}
  
.card-button:hover{
    color: #fff;
}
  
.card-button:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}
  
.card-button:hover:before {
    top: -2.5vw;
    left: -2.5vw;
}
  
.card-button:active:before {
    background: #E84A1C;
    transition: background 0s;
}
  
  
.cards:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.cards:hover .back{
    transform: perspective(600px) rotateY(360deg);
}


/******************************************/
.section3 {
    position: relative;
    width: 100vw;
    padding: 9vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    
}
.game-video {
    flex: 1;
    position: relative;
}

.game-video video{
    border-radius: 3vh;
    width: 45vw;
    
}

.distribution-content {
    flex: 1;
    padding-left: 4vh;
    color: white;
}

.distribution-content i{
    padding-right: 2vw;
}
.distribution-title {
    font-size: 4vh;
    margin-bottom: 2vh;
}
.distribution-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 6vh;
}
.distribution-item {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    text-align: justify;
}

.distribution-item-title {
    font-weight: bold;
    margin-bottom: 0.5vh;
}
.distribution-item-description {
    font-size: 1.8vh;
    opacity: 0.8;
}





